//  media queries - 1040px

@media (max-width: 1040px) {
  .headerContent h1 {
    font-size: 9rem;
  }
}

//  media queries - 930px

@media (max-width: 930px) {
}

//  media queries - 600px

@media (max-width: 600px) {
  .headerContent h1 {
    font-size: 8rem;
  }
  form h3 {
    font-size: 5rem;
  }
  .radioParent label {
    font-size: 1.75rem;
  }

  form button.submit {
    font-size: 2rem;
  }
}

//  media queries - 557px

@media (max-width: 557px) {
  .headerContent h1 {
    font-size: 7rem;
  }
  .dropdownContent {
    bottom: 35%;
  }
  form h3 {
    font-size: 4rem;
  }
  form input[type="date"] {
    font-size: 1.4rem;
  }
  form .radioParent label {
    font-size: 1.5rem;
    padding: 10px 20px;
  }
  form select {
    font-size: 1.5rem;
    background-size: 2.25rem;
    width: 175px;
  }
  form button.submit {
    font-size: 1.75rem;
    width: 185px;
  }
}
