/* global settings */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }

* {
    margin: 0;
    padding: 0;
  }

.container {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}