$red: #D66761;
$green: #B8E070;
$yellow: #FFFE93;
$darkBlue: #7A918D;
$lightBlue: #93B1A7;
$white: #FAFAFA;
$black: #373737;

header {
  height: 100vh;
  background-color: #b8e070;
}

.headerContainer {
  position: relative;
  background-image: url('../../assets/swapnil-dwivedi-Xcmfp0gBukI-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.headerContent,
.chevronDown,
.infoButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerContent h1 {
  font-size: 10rem;
  font-weight: 900;
  text-align: center;
  text-shadow: 0 0 1rem;
  color: white;
}

.infoButton {
  padding: 120px 0 0 0;
}

.fa-info-circle {
  font-size: 5.5rem;
  color: $white;
  margin-bottom: 1px;
}

.goRun {
  display: flex;
  margin: 0 auto;
  margin-top: 145px;
  justify-content: center;
  align-items: center;
}

.dropdown {
  position: relative;
}

.dropdownContent {
  display: none;
  position: absolute;
  bottom: 40%;
  background-color: #f9f9f9;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 16px 10px;
  z-index: 1;
  font-size: 1.5rem;
}

.dropdownContent p {
  padding: 5px 5px;
}

.dropdown:hover .dropdownContent,
.dropdown:focus .dropdownContent {
  display: block;
  border-radius: 10px;
  transition: ease 0.6s;
  background-color: #fffe93;
  color: #d66761;
}
